<template>
  <v-list-item
    class="vertical-nav-menu-link"
    v-bind="$attrs"
    active-class="bg-gradient-primary white--text"
  >
    <v-list-item-icon>
      <v-icon
        class="mx-auto"
        :class="{ 'alternate-icon-small': !icon }"
      >
        {{ icon || alternateIcon }} 
      </v-icon>
    </v-list-item-icon>
    <v-list-item-title>
        {{ title }}
    </v-list-item-title>
  </v-list-item>
</template>
<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { mdiCheckboxBlankCircleOutline } from "@mdi/js";
import { Prop } from "vue-property-decorator";

@Component({
  setup() {
    return {
      alternateIcon: mdiCheckboxBlankCircleOutline,
    };
  },
})
export default class LinkMenu extends Vue {
  @Prop ({ required: true }) readonly title! : string
  @Prop ({ default: undefined }) readonly icon! : string
}
</script>
<style lang="scss" scoped>
@import "vuetify/src/styles/styles.sass";

.alternate-icon-small {
  font-size: 14px;
  height: 14px;
  width: 14px;
}

.vertical-nav-menu-link {
  &.v-list-item--active {
    box-shadow: 0 5px 10px -4px rgba(94, 86, 105, 0.42);
    @include elevationTransition();
  }
}
</style>