<template>
  <div>
    <component :is="resolveLayout">
      <router-view></router-view>
      <LayoutBlank />
      <LayoutContent />
    </component>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { useRouter } from "@/utils";
import { computed } from "@vue/composition-api";
import LayoutBlank from "@/layout/LayoutBlank.vue";
import LayoutContent from "@/layout/LayoutContent.vue";

@Component({
  components: {
    LayoutBlank,
    LayoutContent
  },
  setup (){
    const { route } = useRouter();

    const newLocal: any | undefined = route.value?.meta;

    const resolveLayout = computed(() => {
      if (route.value?.name === null) {
        return null;
      }

      if (route !== undefined && newLocal.layout === "blank") {
        return "layout-blank";
      }

      return "layout-content";
    });

    return {
      resolveLayout
    };
  }
})
export default class App extends Vue {}
</script>
<style lang="scss" scoped>
.theme--light.v-application {
    background: #f4f5fa;
    color: rgba(94,86,105,.87);
}
</style>