<template>
  <v-menu
    offset-y
    left
    nudge-bottom="14"
    min-width="230"
    content-class="user-profile-menu-content"
  >
    <template v-slot:activator="{ on, attrs }">
      <div v-bind="attrs" v-on="on">
        <v-badge
          bottom
          color="success"
          overlap
          offset-x="12"
          offset-y="12"
          class="ms-4"
          dot
        >
          <v-avatar size="40px">
            <v-img :src="require('@/assets/images/avatars/1.png')"></v-img>
          </v-avatar>
        </v-badge>
        <div
          class=" flex-column justify-center ms-3 d-none d-sm-inline-flex"
          style="vertical-align: middle"
        >
          <span class="text--primary font-weigh-semibold mb-n1">John Doe</span>
          <small class="text--disabled text-capitalize">Admin</small>
        </div>
      </div>
    </template>
    <v-list>
      <div class="pb-3 pt-2">
        <v-badge
          class="ms-4"
          bottom
          color="success"
          overlap
          offset-y="12"
          offset-x="12"
          dot
        >
          <v-avatar size="40px">
            <v-img :src="require('@/assets/images/avatars/1.png')"></v-img>
          </v-avatar>
        </v-badge>
        <div
          class="d-inline-flex flex-column justify-center ms-3"
          style="vertical-align: middle"
        >
          <span class="text--primary font-weigh-semibold mb-n1">John Doe</span>
          <small class="text--disabled text-capitalize">Admin</small>
        </div>
      </div>
      <v-divider></v-divider>
      <v-list-item link>
        <v-list-item-icon class="me-2">
          <v-icon size="22">
            {{ icons.mdiLogoutVariant }}
          </v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>Cerrar Sesión</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-menu>
</template>
<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { mdiLogoutVariant } from "@mdi/js";

@Component({
    setup(){
        return {
            icons: {
                mdiLogoutVariant
            }
        }
    }
})
export default class UserMenu extends Vue {}
</script>
<style lang="scss" scoped>
.user-profile-menu-content {
  .v-list-item {
    min-height: 2.5rem !important;
  }
}
</style>