<template>
  <v-app>
    <SidebarMenu :isDrawerOpen="isDrawerOpen" />
    <v-app-bar app flat absolute color="transparent">
      <div class="boxed-container w-full">
        <div class="d-flex align-center mx-6">
          <v-app-bar-nav-icon
            class="d-block d-lg-none me-2"
            @click="isDrawerOpen = !isDrawerOpen"
          >
          </v-app-bar-nav-icon>
          <v-text-field
            class="app-bar-search flex-grow-0"
            rounded
            dense
            outlined
            :prepend-inner-icon="icons.mdiMagnify"
            hide-details
          ></v-text-field>
          <v-spacer></v-spacer>
          <UserMenu/>
        </div>
      </div>
    </v-app-bar>
    <v-main>
        <div class="app-content-container boxed-container pa-6">
            <slot></slot>
        </div>
    </v-main>
  </v-app>
</template>
<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import SidebarMenu from "@/components/SidebarMenu/SidebarMenu.vue";
import UserMenu from "@/components/UserMenu/UserMenu.vue";
import { ref } from "@vue/composition-api";
import { mdiMagnify } from "@mdi/js";

@Component({
  setup() {
    const isDrawerOpen = ref(null);

    return {
      isDrawerOpen,
      icons: {
        mdiMagnify,
      },
    };
  },
  components: {
    SidebarMenu,
    UserMenu,
  },
})
export default class LayoutContent extends Vue {}
</script>
<style lang="scss" scoped>
.v-app-bar ::v-deep {
  .v-toolbar__content {
    padding: 0;

    .app-bar-search {
      .v-input__slot {
        padding-left: 18px;
      }
    }
  }
}

.boxed-container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
</style>
